.App {
    background-color: #1a1a1d;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.heading {
    text-align: center;
    font-size: 5rem;
    color: #c3073f;
}

.countries {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* flex-direction: column; */
    flex-wrap: wrap;
}